/* login */
.center {
  text-align: center !important;
}

.login-form {
  padding: 2.5em 1.3em 2em;
  max-width: 350px;
  border-radius: 5px;
  margin: auto;
}

.login-form__heading {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.5em !important;
}

.login-form__password-text {
  font-size: .8em;
}

/* Payment portal */

.user-portal {
  padding: 20px 0;
}

.tabs li.is-active a {
  color: #3273dc!important;
  border-bottom-color: #3273dc!important;
}

@media (max-width: 500px) {

  .tabs {
    font-size: .9em;
  }
  .tabs__icon {
    display: none;
  }

  .tabs__link{
    padding: .5em 0.6em !important;
  }
}
