/* login */
.center {
  text-align: center !important;
}

.login-form {
  padding: 2.5em 1.3em 2em;
  max-width: 350px;
  border-radius: 5px;
  margin: auto;
}

.login-form__heading {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.5em !important;
}

.active {
  background: red;
}

.login-form__password-text {
  font-size: .8em;
}

/* Payment portal */
.user-portal {
  padding: 20px 0;
}

.tabs {
  font-size: .8em;
}

.tabs li.is-active a {
  color: #3273dc!important;
  border-bottom-color: #3273dc!important;
}

/* Tab container */
.tab-container {
  border: 1px solid red;
  max-width: 800px;
  margin: auto;
  padding: 0 15px;
}

.tab-container__title {
  font-weight: bold;
  color: #000;
  font-size: 1.2em;
}

@media (max-width: 530px) {
  .tabs {
    font-size: .7em;
  }
  .tabs__icon {
    display: none;
  }

  .tabs__link{
    padding: .5em !important;
  }
}
